# Redis
REDIS_HOST=REDIS_HOST
REDIS_PORT=REDIS_PORT

# Database
DATABASE_URL=DATABASE_URL

# Telegram Bot
TELEGRAM_BOT_TOKEN=TELEGRAM_BOT_TOKEN

# Internal service configs
INTERNAL_SERVICE_SECRET=INTERNAL_SERVICE_SECRET
AI_SERVICE_URL=AI_SERVICE_URL
